@import './styles/sass/layout/nav';

.breakpoint__medium-only {
  width: 100vw;
  // border: 1px solid orange;

  .header {
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;

    &__container-logo {
      padding: 1.5rem 2rem;
    }

    &__logo {
      max-width: 2.2rem;
     
    }
  }
}

.breakpoint__large-up {
  width: 100vw;
  .header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #ffffff;
    // border: 1px solid red;

    &__container-logo {
      // border: 1px solid green;
      width: 120px;
      margin: 3vh 5vw;
    }
  }
}
