.breakpoint__medium-only,
.breakpoint__large-up {
  width: 100vw;

  & .header {
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    position: fixed;
  }

  & .main__padding {
    padding-top: 100px;
  }
}

.breakpoint__medium-only {
  & .header {
    justify-content: space-between;

    &__container-logo {
      padding: 1.5rem 2rem;
    }

    &__logo {
      max-width: 2.2rem;
    }
  }
}

.breakpoint__large-up {
  .header {
    flex-direction: row;
    // border: 1px solid red;

    &__container-logo {
      // border: 1px solid green;
      width: 120px;
      margin: 3vh 5vw;
    }
  }
}
