.header {
  width: 100%;
  background-color: #ffffff;
  display: none;
  justify-content: space-around;
  &__container-logo {
    display: none;

    &__logo {
      background-color: #fa6f84;
      max-width: 5rem;
      height: auto;
    }
  }
}
