.breakpoint__medium-only {
  .topnav {
    width: 75vw;
    border: 1px solid green;
    display: flex;
    justify-content: flex-end;

    &__dropnavone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      margin: 1em;
      background-color: #f7f7f7;
      border-radius: 2rem;
      width: 8vw;
      list-style: none;
      background: #f2f2f2;

      & a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
      }

      &-icon {
        max-width: 1.1rem;
        padding-right: 0.1rem;

        &-bis {
          padding: 0 0 0.4rem 0.2rem;
          max-width: 0.7rem;
        }
      }
    }

    &__dropnavtwo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
      margin: 1em;
      border: 1px solid rgba(172, 172, 172, 0.432);
      border-radius: 2rem;
      width: 10vw;

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
      }

      &-icon {
        max-width: 1.1rem;
        margin: 0.5em;

        &-bis {
          max-width: 2rem;
        }
      }
    }
  }

  ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: right;
  }

  .topnav__dropdown li a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    text-align: start;
  }

  ul li ul.topnav__dropdown {
    min-width: 18vw; /* Set width of the dropdown */
    background: white;
    border: 1px solid rgba(172, 172, 172, 0.432);
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgba(172, 172, 172, 0.432);
    display: none;
    position: absolute;
    padding: 1em;
    left: -8vw;
    top: 6vh;
    z-index: 999;
  }

  ul li:hover ul.topnav__dropdown {
    display: block; /* Display the dropdown */
  }
  ul li ul.topnav__dropdown li {
    display: block;
  }
}

.breakpoint__large-up {
  .topnav {
    width: 92vw;
    border: 1px solid green;
    display: flex;
    justify-content: flex-end;

    &__dropnavone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      margin: 1em;
      background-color: #f7f7f7;
      border-radius: 2rem;
      width: 8vw;
      list-style: none;
      background: #f2f2f2;

      & a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
      }

      &-icon {
        max-width: 1.1rem;
        padding-right: 0.1rem;

        &-bis {
          padding: 0 0 0.4rem 0.2rem;
          max-width: 0.7rem;
        }
      }
    }

    &__dropnavtwo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
      margin: 1em;
      border: 1px solid rgba(172, 172, 172, 0.432);
      border-radius: 2rem;
      width: 10vw;

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
      }

      &-icon {
        max-width: 1.1rem;
        margin: 0.5em;

        &-bis {
          max-width: 2rem;
        }
      }
    }
  }

  ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: right;
  }

  .topnav__dropdown li a {
    display: block;
    text-decoration: none;
    font-size: 1em;
    text-align: start;
  }

  ul li ul.topnav__dropdown {
    min-width: 15vw; /* Set width of the dropdown */
    background: white;
    border: 1px solid rgba(172, 172, 172, 0.432);
    border-radius: 1em;
    box-shadow: 5px 5px 5px rgba(172, 172, 172, 0.432);
    display: none;
    position: absolute;
    padding: 1em;
    left: -8vw;
    top: 6vh;
    z-index: 999;
  }

  ul li:hover ul.topnav__dropdown {
    display: block; /* Display the dropdown */
  }
  ul li ul.topnav__dropdown li {
    display: block;
  }
}
