.breakpoint__medium-only,
.breakpoint__large-up {
  .topnav {
    width: 92vw;
    padding: 0 4vw;
    display: flex;
    justify-content: flex-end;

    &__dropdownone,
    &__dropdowntwo {
      position: relative;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1em;

      &-button {
        background: none;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        width: 70px;
        height: 45px;
        border-radius: 2.5rem;

        &:hover {
          background-color: #f7f7f7;
        }

        & + .topnav__dropdownone-list {
          opacity: 1;
          pointer-events: all;
          visibility: hidden;
          transition: all 0s ease 1s;
        }

        &:hover + .topnav__dropdownone-list {
          opacity: 1;
          pointer-events: all;
          transition-delay: 0s;
          visibility: visible;
        }

        &-iconone {
          width: 20px;
        }

        &-icontwo {
          width: 10px;
          margin: 0 0 0.2rem 0.5rem;
        }
      }

      &-list {
        position: relative;
        background-color: #ffffff;
        width: 150px;
        height: 13em;
        display: flex;
        flex-direction: column;
        list-style: none;
        border-radius: 1rem;
        font-size: 1em;
        padding: 1em;
        border: 1px solid #dddddd;
        box-shadow: 0px 2px 2px 0px #dddddd;
        opacity: 0;
        transform: translate(-8vw, 18vh);
        transition: all 0.4s ease;
        position: fixed;
      }

      &-item {
        background-color: #ffffff;
        width: 100%;
        padding-bottom: 1em;
        display: flex;
        justify-content: flex-start;

        & img {
          margin-right: 10px;
        }

        & p {
          margin-right: 20px;
        }
      }
      &-item a {
        width: 140px;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        &:visited,
        &:link {
          color: #222222;
        }
      }
    }

    &__dropdowntwo {
      &-button {
        width: 85px;
        height: 45px;
        border: 1px solid #dddddd;

        &:hover {
          background-color: #ffffff;
          border: 1px solid #f7f7f7;
          box-shadow: 0px 2px 2px 0px #717171;
        }

        & + .topnav__dropdowntwo-list {
          opacity: 1;
          pointer-events: all;
          visibility: hidden;
          transition: all 0s ease 1s;
        }

        &:hover + .topnav__dropdowntwo-list {
          opacity: 1;
          pointer-events: all;
          transition-delay: 0s;
          visibility: visible;
        }

        &-iconone {
          width: 20px;
          margin: 0.3em 0.1em;
        }
        &-icontwo {
          width: 1.8rem;
          filter: invert(48%) sepia(0%) saturate(0%) hue-rotate(216deg) brightness(91%)
            contrast(88%);
          margin: 0 0 0 0.3em;
        }
        &-icontwolog {
          width: 1.8rem;
          margin: 0 0 0 0.3em;
          &:hover,
          &:focus,
          &:active {
            color: #ffffff;
            border-color: none;
          }
        }
      }

      &-list {
        transform: translate(-3vw, 20vh);
        height: 15em;
      }
    }
  }
}

.breakpoint__medium-only {
  .topnav__dropdownone-list {
    transform: translate(-13vw, 18vh);
  }

  .topnav__dropdowntwo-list {
    transform: translate(-5vw, 20vh);
  }
}
