.login {
  height: 100vh;
  color: #484848;

  &__container {
    border: 1px solid rgb(228, 228, 228);
    margin: 24px;
  }
  &__title {
    text-align: center;
    margin-top: 24px;
    font-size: 18px;
    letter-spacing: 0.4px;
  }

  &__form {
    padding: 20px;
  }

  &__redirection {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;

    .redirection__button {
      color: #ff5a5f;
      background-color: #ffffff;
      border: 1px solid #ff5a5f;
      border-radius: 4px;
      padding: 7px 21px;
      margin-left: 8px;
      cursor: pointer;
    }
  }
}

.form {
  &__submit {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    border: 1px solid #ff5a5f;
    border-radius: 8px;
    background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    cursor: pointer;
  }

  &__input-email {
    width: 100%;
    cursor: text;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 0;
  }
  &__input-password {
    width: 100%;
    cursor: text;
    border-radius: 0px 0px 8px 8px;
  }
}
