.places {
  display: flex;
  flex-wrap: wrap;
}

.place {
  &__image {
    width: 100%;
    border-radius: 5%;
  }

  &__name {
    color: black;
  }

  &__price {
    color: black;
  }
}

header {
  .nav__links__link {
    &__explorer {
      color: #ff627a;
    }
    &__connexion {
      display: flex !important;
    }
  }
}
