.places__intro {
  padding: 0 4vw 4vh;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 1vh;
  }
}

.breakpoint__small-down {
  .places__intro {
    padding: 5vh 10vw 0;
  }

  .places {
    display: grid;
    grid-template-columns: repeat(1, auto [col-start]);
    row-gap: 2em;
    padding: 5vh 8vw;
    // position: relative;

  }
}

.breakpoint__medium-only {
  .places {
    display: grid;
    grid-template-columns: repeat(2, auto [col-start]);
    column-gap: 1em;
    row-gap: 2em;
    padding: 1vh 3vw;
  }

  .place {
    &__image {
     min-height: 100px;
      // min-height: 38vh;
      // max-height: 50vh;
    }
  }
}

.breakpoint__large-up {
  .places {
    display: grid;
    grid-template-columns: repeat(5, 17.5vw [col-start]);
    column-gap: 1em;
    row-gap: 2em;
    padding: 1vh 4vw;
  }

  // .place {
  //   &__image {
  //     min-width: 8vw;
  //     max-width: 40vw;
  //     min-height: 25vh;
  //     max-height: 25vh;
  //   }
  // }
}

.breakpoint__small-down,
.breakpoint__medium-only,
.breakpoint__large-up {
  .place {
    &__image {
      max-width: 100%;
      height: auto;
      border-radius: 5%;
    }

    &__name {
      color: black;
    }

    &__moreinfos {
      font-size: 0.95em;
    }

    &__price-night {
      color: black;
      font-weight: bold;
    }

    &__price-month {
      color: #717171;
      font-size: 0.9em;
    }
  }
}
