@font-face {
  font-family: 'Airbnb-Cereal-Regular';
  src: url(/src/assets/fonts/AirbnbCerealBook.ttf);
}

@font-face {
  font-family: 'Airbnb-Cereal-Lighter';
  src: url(/src/assets/fonts/AirbnbCerealLight.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Airbnb-Cereal-Medium';
  src: url(/src/assets/fonts/AirbnbCerealMedium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: 'Airbnb-Cereal-Bold';
  src: url(/src/assets/fonts/AirbnbCerealBold.ttf);
  font-weight: bold;
}
